version: '3.8'

networks:
  default:
    external: true
    name: shared_net

services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - default

  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.2
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - default

  kafka:
    image: bitnami/kafka:3.7
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LISTENERS: PLAINTEXT://:9092
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
    networks:
      - default

  auth-db:
    image: postgres:15
    container_name: auth-db
    restart: always
    env_file:
      - ./auth_server/.env
    ports:
      - "5432:5432"
    volumes:
      - ./databases/auth-db-volume:/var/lib/postgresql/data
    networks:
      - default

  testcase-db:
    image: postgres:15
    container_name: testcase-db
    restart: always
    env_file:
      - ./create_testcase/.env
    ports:
      - "5433:5433"
    volumes:
      - ./databases/testcase-db-volume:/var/lib/postgresql/data
    networks:
      - default

  code-db:
    image: postgres:15
    container_name: code-db
    restart: always
    env_file:
      - ./code_runner/.env
    ports:
      - "5434:5434"
    volumes:
      - ./databases/code-db-volume:/var/lib/postgresql/data
    networks:
      - default